<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bzikacho Email</title>

    <style>
      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 100;
        src: url("fonts/TTF/YekanBakh-Thin.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 300;
        src: url("fonts/TTF/YekanBakh-Light.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: normal;
        src: url("fonts/TTF/YekanBakh-Regular.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 600;
        src: url("fonts/TTF/YekanBakh-SemiBold.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: bold;
        src: url("fonts/TTF/YekanBakh-Bold.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 800;
        src: url("fonts/TTF/Yekan Bakh-ExtraBold.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 900;
        src: url("fonts/TTF/Yekan Bakh-Black.ttf") format("ttf");
      }

      @font-face {
        font-family: Yekan Bakh;
        font-style: normal;
        font-weight: 950;
        src: url("fonts/TTF/Yekan Bakh-ExtraBlack.ttf") format("ttf");
      }
    </style>
  </head>
  <body>
    <div
      id=":ti"
      class="ii gt"
      jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc4Njc4MTgyNDk1NjgxOTQ3NSJd; 4:WyIjbXNnLWY6MTc4Njc4MTgyNDk1NjgxOTQ3NSJd"
    >
      <div id=":p6" class="a3s aiL msg8339462593911825422">
        <u></u>

        <div
          style="
            margin: 0;
            box-sizing: border-box;
            color: #0a0a0a;
            font-family: Yekan Bakh, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            margin: 0;
            min-width: 100%;
            padding: 0;
            text-align: left;
            width: 100% !important;
          "
        >
          <span
            style="
              color: #fff;
              display: none !important;
              font-size: 1px;
              line-height: 1px;
              max-height: 0;
              max-width: 0;
              opacity: 0;
              overflow: hidden;
            "
          ></span>
          <table
            class="m_8339462593911825422body"
            style="
              margin: 0;
              background-color: #fff;
              border-collapse: collapse;
              border-color: transparent;
              border-spacing: 0;
              color: #0a0a0a;
              font-family: Yekan Bakh, sans-serif;
              font-size: 16px;
              font-weight: 400;
              height: 100%;
              line-height: 1.3;
              margin: 0;
              padding: 0;
              text-align: left;
              vertical-align: top;
              width: 100%;
            "
          >
            <tbody>
              <tr style="padding: 0; text-align: left; vertical-align: top">
                <td
                  align="center"
                  valign="top"
                  style="
                    margin: 0;
                    border-collapse: collapse !important;
                    color: #0a0a0a;
                    font-family: Yekan Bakh, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    vertical-align: top;
                    word-wrap: break-word;
                  "
                >
                  <center style="min-width: 580px; width: 100%">
                    <table
                      style="
                        margin: 0 auto;
                        border-collapse: collapse;
                        border-color: transparent;
                        border-spacing: 0;
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;
                      "
                    >
                      <tbody>
                        <tr
                          style="
                            padding: 0;
                            text-align: left;
                            vertical-align: top;
                          "
                        >
                          <td
                            height="40px"
                            style="
                              margin: 0;
                              border-collapse: collapse !important;
                              color: #0a0a0a;
                              font-family: Yekan Bakh, sans-serif;
                              font-size: 40px;
                              font-weight: 400;
                              line-height: 40px;
                              margin: 0;
                              padding: 0;
                              text-align: left;
                              vertical-align: top;
                              word-wrap: break-word;
                            "
                          >
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      align="center"
                      class="m_8339462593911825422container"
                      style="
                        margin: 0 auto;
                        background: 0 0;
                        border-collapse: collapse;
                        border-color: transparent;
                        border-spacing: 0;
                        float: none;
                        margin: 0 auto;
                        padding: 0;
                        text-align: center;
                        vertical-align: top;
                        width: 580px;
                        max-width: 580px;
                      "
                    >
                      <tbody>
                        <tr
                          style="
                            padding: 0;
                            text-align: left;
                            vertical-align: top;
                          "
                        >
                          <td
                            style="
                              margin: 0;
                              border-collapse: collapse !important;
                              color: #0a0a0a;
                              font-family: Yekan Bakh, sans-serif;
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 1.3;
                              margin: 0;
                              padding: 0;
                              text-align: left;
                              vertical-align: top;
                              word-wrap: break-word;
                            "
                          >
                            <table
                              class="m_8339462593911825422collapse"
                              style="
                                background: 0 0;
                                border-collapse: collapse;
                                border-color: transparent;
                                border-spacing: 0;
                                display: table;
                                padding: 0;
                                text-align: left;
                                vertical-align: top;
                                width: 100%;
                              "
                            >
                              <tbody>
                                <tr
                                  style="
                                    padding: 0;
                                    text-align: left;
                                    vertical-align: top;
                                  "
                                >
                                  <th
                                    class="m_8339462593911825422small-12 m_8339462593911825422columns"
                                    style="
                                      margin: 0 auto;
                                      color: #0a0a0a;
                                      font-family: tamoha, sans-serif;
                                      font-size: 16px;
                                      font-weight: 400;
                                      line-height: 1.3;
                                      margin: 0 auto;
                                      padding: 0;
                                      padding-bottom: 0;
                                      padding-left: 0;
                                      padding-right: 0;
                                      text-align: right;
                                      width: 320px;
                                      vertical-align: middle;
                                    "
                                  >
                                    <table
                                      style="
                                        border-collapse: collapse;
                                        border-color: transparent;
                                        border-spacing: 0;
                                        padding: 0;
                                        text-align: right;
                                        vertical-align: top;
                                        width: 100%;
                                      "
                                    >
                                      <tbody>
                                        <tr
                                          style="
                                            padding: 0;
                                            text-align: right;
                                            vertical-align: top;
                                          "
                                        >
                                          <th
                                            style="
                                              margin: 0;
                                              color: #0a0a0a;
                                              font-family: Yekan Bakh,
                                                sans-serif;
                                              font-size: 16px;
                                              font-weight: 400;
                                              line-height: 1.3;
                                              margin: 0;
                                              padding: 0;
                                              text-align: right;
                                            "
                                          >
                                            <span
                                              class="m_8339462593911825422header-top-text"
                                              style="
                                                color: #acb0b8;
                                                display: table;
                                                font-size: 12px;
                                                font-family: Yekan Bakh;
                                                line-height: 29px;
                                                text-align: left;
                                                width: 100%;
                                                margin-left: auto;
                                              "
                                            >
                                              <span
                                                href="https://my.netaram.com/clientarea.php?action=emails"
                                                style="
                                                  margin-right: 3px;
                                                  color: #7c8088 !important;
                                                  font-family: Yekan Bakh,
                                                    sans-serif;
                                                  font-weight: 400;
                                                  line-height: 1.3;
                                                  margin: 0;
                                                  padding: 0;
                                                  text-align: right;
                                                  text-decoration: none;
                                                  line-height: 8px;
                                                "
                                                >بازیکاچو
                                              </span>
                                              جامع‌ترین منبع حوزه گیمینگ
                                            </span>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                  <th
                                    class="m_8339462593911825422small-12 m_8339462593911825422columns"
                                    style="
                                      margin: 0 auto;
                                      color: #0a0a0a;
                                      font-family: Yekan Bakh, sans-serif;
                                      font-size: 16px;
                                      font-weight: 400;
                                      line-height: 1.3;
                                      margin: 0 auto;
                                      padding: 0;
                                      padding-bottom: 0;
                                      padding-left: 0;
                                      padding-right: 0;
                                      text-align: left;
                                      width: 140px;
                                    "
                                  >
                                    <table
                                      style="
                                        border-collapse: collapse;
                                        border-color: transparent;
                                        border-spacing: 0;
                                        padding: 0;
                                        text-align: left;
                                        vertical-align: top;
                                        width: 100%;
                                      "
                                    >
                                      <tbody>
                                        <tr
                                          style="
                                            padding: 0;
                                            text-align: left;
                                            vertical-align: top;
                                          "
                                        >
                                          <th
                                            height="49"
                                            valign="middle"
                                            style="
                                              margin: 0;
                                              color: #0a0a0a;
                                              font-family: Yekan Bakh,
                                                sans-serif;
                                              font-size: 16px;
                                              font-weight: 400;
                                              line-height: 1.3;
                                              margin: 0;
                                              padding: 0;
                                              text-align: right;
                                              vertical-align: right;
                                            "
                                          >
                                            <img
                                              align="right"
                                              class="m_8339462593911825422header-logo CToWUd"
                                              src="https://ci3.googleusercontent.com/meips/ADKq_NYE1m7bt7NVL7UlTuhewuLJRuHDhGO1mV7WTBF9WEOIBnTG8nJ583IKaAoiHMmvRKh-VrYir8IA1rGwteMKMnA=s0-d-e1-ft#https://netaram.com/netaram-green-logo.png"
                                              alt=""
                                              style="
                                                clear: both;
                                                display: block;
                                                max-width: 220px;
                                                width: auto;
                                                height: auto;
                                                outline: 0;
                                                text-decoration: none;
                                                max-height: 49px;
                                              "
                                              data-bit="iit"
                                            />
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </center>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            style="
              margin: 0 auto;
              border-collapse: collapse;
              border-color: transparent;
              border-spacing: 0;
              float: none;
              margin: 0 auto;
              padding: 0;
              text-align: center;
              vertical-align: top;
              width: 100%;
            "
          >
            <tbody>
              <tr style="padding: 0; text-align: left; vertical-align: top">
                <td
                  height="32px"
                  style="
                    margin: 0;
                    border-collapse: collapse !important;
                    color: #0a0a0a;
                    font-family: Yekan Bakh, sans-serif;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 32px;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    vertical-align: top;
                    word-wrap: break-word;
                  "
                >
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <table
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center"
            class="m_8339462593911825422container"
            style="
              margin: 0 auto;
              background: #fff;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
              border-collapse: collapse;
              border-color: transparent;
              border-spacing: 0;
              float: none;
              margin: 0 auto;
              padding: 0;
              text-align: center;
              vertical-align: top;
              width: 580px;
              max-width: 580px;
            "
          >
            <tbody>
              <tr style="padding: 0; text-align: left; vertical-align: top">
                <td
                  style="
                    margin: 0;
                    border-collapse: collapse !important;
                    color: #0a0a0a;
                    font-family: Yekan Bakh, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    vertical-align: top;
                    word-wrap: break-word;
                  "
                >
                  <img
                    width="580"
                    height="8"
                    src="https://ci3.googleusercontent.com/meips/ADKq_NaTykvwrtmc6zMWqXm7Rg1lsdpg0hvslWiK-criUlDUEvrFDenws1wd3MZZxc_qOCYTF9cQB2Qyeoco7A=s0-d-e1-ft#https://netaram.com/border-top-new.png"
                    alt=""
                    style="
                      min-width: 100% !important;
                      clear: both;
                      display: block;
                      width: 100% !important;
                      max-width: 580px;
                      outline: 0;
                      text-decoration: none;
                      background: #fff;
                      background-color: white;
                      border-top-left-radius: 3px;
                      border-top-right-radius: 3px;
                    "
                    class="CToWUd"
                    data-bit="iit"
                  />
                  <table
                    class="m_8339462593911825422container-radius"
                    style="
                      border-top-width: 0;
                      border-top-color: #e6e6e6;
                      border-left-width: 1px;
                      border-right-width: 1px;
                      border-bottom-width: 1px;
                      border-bottom-color: #e6e6e6;
                      border-right-color: #e6e6e6;
                      border-left-color: #e6e6e6;
                      border-style: solid;
                      border-bottom-left-radius: 3px;
                      border-bottom-right-radius: 3px;
                      display: table;
                      padding-bottom: 32px;
                      border-spacing: 48px 0;
                      border-collapse: separate;
                      width: 100%;
                      background: #fff;
                      max-width: 580px;
                      text-align: right;
                    "
                  >
                    <tbody>
                      <tr>
                        <td>
                          <table
                            style="
                              border-collapse: collapse;
                              border-color: transparent;
                              border-spacing: 0;
                              display: table;
                              padding: 0;
                              text-align: left;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <tbody>
                              <tr
                                style="
                                  padding: 0;
                                  text-align: left;
                                  vertical-align: top;
                                "
                              ></tr>
                            </tbody>
                          </table>
                          <table
                            class="m_8339462593911825422mobile-hide"
                            style="
                              border-collapse: collapse;
                              border-color: transparent;
                              border-spacing: 0;
                              padding: 0;
                              text-align: left;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            <tbody>
                              <tr
                                style="
                                  padding: 0;
                                  text-align: left;
                                  vertical-align: top;
                                "
                              >
                                <td
                                  height="32px"
                                  style="
                                    margin: 0;
                                    border-collapse: collapse !important;
                                    color: #0a0a0a;
                                    font-family: Yekan Bakh, sans-serif;
                                    font-size: 32px;
                                    font-weight: 400;
                                    line-height: 32px;
                                    margin: 0;
                                    padding: 0;
                                    text-align: left;
                                    vertical-align: top;
                                    word-wrap: break-word;
                                  "
                                ></td>
                              </tr>
                            </tbody>
                          </table>
                          <h1>تازه ترین مطالب بازیکاچو</h1>

                          {% for post in latest_posts %}
                          <h2
                            style="
                              font-family: Yekan Bakh, arial, helvetica,
                                sans-serif;
                            "
                          >
                            {{ post.title }}
                          </h2>
                          <p dir="rtl">
                            <span
                              style="
                                font-family: Yekan Bakh, arial, helvetica,
                                  sans-serif;
                                font-size: small;
                              "
                              ><span lang="fa">{{ post.postSummary }}</span
                              >.</span
                            >
                          </p>
                          <p dir="rtl">
                            <span
                              style="
                                font-family: Yekan Bakh, arial, helvetica,
                                  sans-serif;
                                font-size: small;
                              "
                              ><span lang="fa"
                                ><a
                                  href="{% if post.isEvent and post.eventStage %}http://127.0.0.1:8000/{{ post.eventStage }}/{{ post.slug }}/{% elif post.isArticle %}http://127.0.0.1:8000/articles/{{ post.slug }}/{% elif post.isVideo and post.videoType %}http://127.0.0.1:8000/{{ post.videoType }}/{{ post.slug }}/{% elif post.isNews %}http://127.0.0.1:8000/news/{{ post.slug }}/{% elif post.isStory %}http://127.0.0.1:8000/stories/{{ post.slug }}/{% endif %}"
                                >
                                  {{ post.title }}
                                </a></span
                              >.</span
                            >
                          </p>
                          {% endfor %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="yj6qo"></div>
      <div class="yj6qo"></div>
    </div>
  </body>
</html>
